.boardFirmwareContent {
  border-radius: var(--ifm-card-border-radius);
  border: 1px solid var(--gray5);
  box-shadow: var(--shadow-sm);
  padding: 20px;
  margin-bottom: 20px;

  > p {
    margin-bottom: 6px;
    > small {
      font-weight: 600;
      color: var(--gray10);
    }
  }
}

.boardFirmwareNote {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 6px;
  margin-bottom: 6px;

  > a {
    cursor: pointer;
    font-weight: 600;
  }

  > div {
    display: flex;
    gap: var(--spacer-1);
    align-items: center;

    > a {
      font-weight: 600;
      cursor: pointer;
    }
  }
}

.boardFirmwareTitle {
  display: flex;
  justify-content: space-between;
  width: 100%;

  > h2 {
    font-size: var(--ifm-h2-font-size);
    font-weight: 600;
    color: var(--gray12);
  }

  > div {
    display: flex;
    gap: var(--spacer-3);
    align-items: center;
    margin-bottom: 16px;

    > a {
      cursor: pointer;

      svg {
        color: var(--gray10) !important;
      }

      svg:hover {
        color: var(--docsearch-text-color) !important;
      }
    }
  }
}

.boardFirmwareSelect {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 16px;
  padding-top: 8px;

  > select {
    border-radius: 2rem;
    font-weight: 600;
    letter-spacing: 0.35px;
    transition: 0.2s;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: var(--docsearch-text-color) 1px solid;
    color: var(--docsearch-text-color);
    background-color: var(--ifm-background-color);
    font-size: var(--font-size-sm);
    width: 50%;
    padding-left: 0.5rem;
  }

  > button,
  a {
    border-radius: 2rem;
    font-weight: 600;
    letter-spacing: 0.35px;
    transition: 0.2s;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: var(--docsearch-text-color) 1px solid;
    background-color: var(--macaw-ui-black);
    color: var(--macaw-ui-white);
    font-size: var(--font-size-sm);
    width: 50%;
    text-align: center;
  }

  > button:hover,
  a:hover {
    background-color: var(--macaw-ui-white);
    color: var(--macaw-ui-black);
    cursor: pointer;
  }

  > button:active,
  a:active {
    background-color: var(--macaw-ui-white);
    color: var(--macaw-ui-black);
  }
}
