.boardFirmwareContent {
  border-radius: var(--ifm-card-border-radius);
  border: 1px solid var(--gray5);
  box-shadow: var(--shadow-sm);
  padding: 20px;
  margin-bottom: 20px;

  > p {
    margin-bottom: 6px;

    > small {
      font-weight: 600;
      color: var(--gray10);
    }
  }
}

.boardFirmwareNote {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 6px;
  margin-bottom: 6px;

  > a {
    cursor: pointer;
    font-weight: 600;
  }

  > div {
    display: flex;
    gap: var(--spacer-1);
    align-items: center;

    > a {
      font-weight: 600;
      cursor: pointer;
    }
  }
}

.boardFirmwareTitle {
  display: flex;
  justify-content: space-between;
  width: 100%;

  > h2 {
    font-size: var(--ifm-h2-font-size);
    font-weight: 600;
    color: var(--gray12);
  }

  > div {
    display: flex;
    gap: var(--spacer-3);
    align-items: center;
    margin-bottom: 16px;

    > a {
      cursor: pointer;

      svg {
        color: var(--gray10) !important;
      }

      svg:hover {
        color: var(--docsearch-text-color) !important;
      }
    }
  }
}

.boardFirmwareSelect {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 16px;
  padding-top: 8px;

  > select {
    font-size: var(--font-size-sm);
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 8px 16px;
    width: 50%;
    max-width: 400px;
    border: 1px solid var(--gray5);
    border-radius: var(--ifm-card-border-radius);
    background-color: var(--ifm-color-emphasis-0);
    color: var(--gray12);
    box-shadow: var(--shadow-sm);
    cursor: pointer;
    justify-content: space-between;
    transition:
      border-color 0.2s ease,
      box-shadow 0.2s ease;
    font-weight: 600;
  }

  > select:hover {
    outline: none;
    border-color: var(--ifm-color-primary);
  }

  > button,
  a {
    font-size: var(--font-size-sm);
    padding: 8px 16px;
    width: 50%;
    max-width: 400px;
    border: 1px solid var(--gray5);
    border-radius: var(--ifm-card-border-radius);
    background-color: var(--ifm-color-emphasis-0);
    color: var(--gray12);
    box-shadow: var(--shadow-sm);
    cursor: pointer;
    justify-content: space-between;
    transition:
      border-color 0.2s ease,
      box-shadow 0.2s ease;
    font-weight: 600;
  }

  > button:hover,
  a:hover {
    outline: none;
    border-color: var(--ifm-color-primary);
  }

  > button:active,
  a:active {
    outline: none;
    border-color: var(--ifm-color-primary);
  }
}

.loadingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  color: #fff;
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.2);
  border-left-color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
